dist: xenial
sudo: true

env:
  global:
  - MOZ_HEADLESS=1

language: node_js
node_js:
  - '12'

addons:
  firefox: latest
  chrome: stable
  sonarcloud:
    organization: "ibwgr"
    token: ${SONAR_TOKEN}

cache:
  directories:
    - Poker-Frontend/node_modules

before_script:
  - npm install
  - npm install -g protractor
  - webdriver-manager update
  - webdriver-manager start
  - sleep 3


script:
  - npm run install
  - npm run test-headless
  - npm run e2e-headless
  - cd Poker-Frontend && sonar-scanner

