dist: trusty
sudo: false


env:
  global:
    - MOZ_HEADLESS=1

language: node_js
node_js:
  - '12'

addons:
  firefox: latest

cache:
  directories:
    - Poker-Frontend/node_modules


script:
    - cd Poker-Frontend
    - npm install
    - npm run test -- --watch=false --no-progress --browsers=ChromeHeadlessNoSandbox
