dist: xenial
sudo: required


env:
  global:
  – DBUS_SESSION_BUS_ADDRESS=/dev/null
  – DISPLAY=:99.0
  – CHROME_BIN=chromium-browser

language: node_js
node_js:
  - '12'

addons:
  chrome: stable

cache:
  directories:
    - Poker-Frontend/node_modules

before_script:
  - sh -e /etc/init.d/xvfb start
  - npm i protractor
  - ./node_modules/protractor/bin/webdriver-manager update



script:
    - cd Poker-Frontend
    - npm install
    - ./node_modules/protractor/bin/webdriver-manager update
#    - npm run lint
    - npm run test-headless
    - npm run e2e-headless
