.container {
  display: block;
  background-color: darkgreen;
}

.result {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  color: yellow;
  font-weight: bold;
}

.highest {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

.lowest {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  color: blue;
  font-weight: bold;
}

.average {
  display: flex;
}

.votes {
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.averageButton {
  height: 40px;
}
