.container {
  margin-top: 30px;
  display: block;
  background-color: darkgreen;
}

.result {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  color: yellow;
  font-weight: bold;
}

.highest {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

.lowest {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  color: aquamarine;
  font-weight: bold;
}

.average {
  display: flex;
}

.votes {
  font-size: 20px;
  margin-top: 20px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  background-color: green;
  padding: 10px;
}

.averageButton {
  height: 40px;
  margin-top: 20px;
}
